[core]
	excludesfile = /Users/m/.gitignore_global
	fileMode = false
	autocrlf = input
[user]
	name = Mehdi M.
	email = fake@email.tld
	username = meduzen
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

## URL aliases

[url "https://github.com/"]
	insteadOf = gh:

[url "https://gist.github.com/"]
	insteadOf = gist:

[url "https://gitlab.com/"]
	insteadOf = bb:

[commit]
	gpgsign = true
[help]
	autocorrect = 1
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[gpg]
	program = /opt/homebrew/bin/gpg
